<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanboard - Burndown</title>
    <link rel="stylesheet" href="../../static/stylesheets/main.css">
    <link rel="stylesheet" href="../../static/stylesheets/style.css">
    <link rel="stylesheet" href="../../static/stylesheets/animations.css">
    <script type="application/javascript" src="{% static 'scripts/validators.js' %}"></script>
</head>
<body id="dashboard">
    <nav>
        <div class="logo">
            <h1>Kanboard</h1>
        </div>
        <button class="ghost-button"></button>
        <button class="button logout">Logout</button>
    </nav>
    <div class="dashboard violet-background justify-center">
        <section class="burndown first-section">
            <table>
                <tr>
                    <th></th>
                    <th>Number of:</th>
                </tr>
                <tr>
                    <td>Cards</td>
                    <td>##</td>
                </tr>
                <tr>
                    <td>Cards (for each column)</td>
                    <td>##</td>
                </tr>
                <tr>
                    <td>Expired Cards</td>
                    <td>##</td>
                </tr>
                <tr>
                    <td>Story points used</td>
                    <td>##</td>
                </tr>
            </table>
            <img src="../../static/assets/images/burndown_example.png" alt="Graph">
        </section>
    </div>
</body>
</html>
