<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanboard - Dashboard</title>
    <link rel="stylesheet" href="../../static/stylesheets/main.css">
    <link rel="stylesheet" href="../../static/stylesheets/style.css">
    <link rel="stylesheet" href="../../static/stylesheets/animations.css">
</head>
<body id="dashboard">
    <nav>
        <div class="logo">
            <h1>Kanboard</h1>
        </div>
        <button class="button action">Add board</button>
        <button class="ghost-button"></button>
        <button class="button logout">Logout</button>
    </nav>
    <div class="dashboard violet-background">
        <div class="board-silhouette">
            <div>
                <img class="board-image" src="../../static/assets/images/board_image_example.png" alt="Board image">
                <h2>Board 1</h2>
                <p>## cards</p>
            </div>
        </div>
        <div class="board-silhouette">
            <div class="cross">
                <img src="../../static/assets/icons/plus.svg" alt="Board" class="filter-white">
            </div>
        </div>
    </div>
</body>
</html>
