<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Kanboard - Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/animations.css' %}">
    <script type="application/javascript" src="{% static 'scripts/validators.js' %}"></script>
</head>
<body id="index" class="violet-background">
    <header>
        <div class="title">
            <h1 class="logo">Kanboard</h1>
        </div>
    </header>
    <div class="index">
        <section class="first-section">
            <div class="description-box color-dark-grey">
                <h1 class="title">Create your own Kanban Board</h1>

                <p>Kanboard is a simple visual task board software.</p>
                <p>From scratch to finish, manage your projects with ease. </p>

                <a class="button no-style-text" href="{% url 'no_auth:register' %}">Get Started</a>
            </div>
            <img src="https://placehold.co/600x400/EEE/31343C" alt="placeholder">
        </section>
        <div class="mega-section color-dark-grey">
            <h1>Features</h1>
            <section class="second-section">
                <img src="https://placehold.co/600x400/EEE/31343C" alt="placeholder">
                <div class="description-box">
                    <p>Create and share your boards</p>
                </div>
            </section>
            <section class="second-section">
                <div class="description-box">
                    <p>Drag and drop tasks</p>
                </div>
                <img src="https://placehold.co/600x400/EEE/31343C" alt="placeholder">
            </section>
            <section class="second-section">
                <img src="https://placehold.co/600x400/EEE/31343C" alt="placeholder">
                <div class="description-box">
                    <p>Burndown charts</p>
                </div>
            </section>
        </div>
        <footer>
            <ul>
                <li>Marco La Civita</li>
                <li>Francesca Zirone</li>
                <li>Diego Mura</li>
                <li>Antonio Masala</li>
            </ul>
        </footer>
    </div>
</body>
</html>
