<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Kanboard - Log In</title>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/animations.css' %}">
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="application/javascript" src="{% static 'scripts/micro.js' %}"></script>
    <script type="application/javascript" src="{% static 'scripts/messages.js' %}"></script>
</head>
<body>
    <p id="service-message"></p>
    <div class="container area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="form-box">
            <h1 class="form-title">Log In</h1>
            <form action="submit/" method="post">
                {% csrf_token %}
                <div class="input-container">
                    <img src="../../static/assets/icons/tag.svg" alt="Email Icon" class="input-icon">
                    <input type="email" id="email" name="email" class="input-field" placeholder="Email or Username" required>
                </div>
                <div class="input-container">
                    <img src="../../static/assets/icons/key.svg" alt="Password Icon" class="input-icon">
                    <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
                </div>
                <button type="submit" class="submit-button" onclick="event.preventDefault(); sendRequest('test/', ['email', 'password'], displayMessage, displayMessage);">Log In</button>
            </form>
            <div class="form-footer">
                <a href="{% url 'no_auth:register' %}" class="form-text">Need an account? Create one!</a>
            </div>
        </div>
    </div>
</body>
</html>
