<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Kanboard - Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/animations.css' %}">
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="application/javascript" src="{% static 'scripts/validators.js' %}"></script>
    <script type="application/javascript" src="{% static 'scripts/micro.js' %}"></script>
    <script type="application/javascript" src="{% static 'scripts/modals.js' %}"></script>
    <script type="application/javascript" src="{% static 'scripts/messages.js' %}"></script>
</head>
<body>
    <p id="service-message"></p>
    <div class="container area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="form-box">
            <h1 class="form-title">Register</h1>
            <form action="submit/" method="post">
                <div class="name-surname-row">
                    <div class="input-container">
                        <img src="{% static 'assets/icons/user.svg' %}" alt="Name Icon" class="input-icon">
                        <input type="text" id="name" name="name" class="input-field" placeholder="Name" required>
                    </div>
                    <div class="input-container">
                        <img src="{% static 'assets/icons/user.svg' %}" alt="Surname Icon" class="input-icon" id="surname-icon">
                        <input type="text" id="surname" name="surname" class="input-field" placeholder="Surname" required>
                    </div>
                </div>
                <div class="input-container">
                    <img src="{% static 'assets/icons/tag.svg' %}" alt="Username Icon" class="input-icon">
                    <input type="text" id="username" name="username" class="input-field" placeholder="Username" required>
                </div>
                <div class="input-container">
                    <img src="{% static 'assets/icons/mail.svg' %}" alt="Email Icon" class="input-icon">
                    <input type="email" id="email" name="email" class="input-field" placeholder="Email" required>
                </div>
                <div class="input-container">
                    <img src="{% static 'assets/icons/key.svg' %}" alt="Password Icon" class="input-icon">
                    <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
                </div>
                <div class="input-container">
                    <img src="{% static 'assets/icons/key.svg' %}" alt="Repeat Password Icon" class="input-icon">
                    <input type="password" id="repeat-password" name="repeat-password" class="input-field" placeholder="Repeat Password" required>
                </div>
                <button type="submit" class="submit-button" onclick="triggerMicro('submit/', ['email', 'password', 'name', 'surname', 'username'], displayMessage, displayMessage);">Register</button>
            </form>
            <div class="form-footer">
                <a href="{% url 'no_auth:login' %}" class="form-text">Already have an account? Log In</a>
            </div>
        </div>
    </div>
</body>
</html>
