{% load static %}
<div class="form-box" style="width: 100%; height: 100%; border-radius: 8px;">
    <h1 class="form-title">Create a new column</h1>
    <div class="input-container">
        <img src="{% static 'assets/icons/tag.svg' %}" alt="Title Icon" class="input-icon">
        <input type="text" class="input-field" id="column_title" name="column_title" placeholder="Column title" required>
    </div>
    <div class="input-container">
        <img src="{% static 'assets/icons/description.svg' %}" alt="Description Icon" class="input-icon">
        <textarea class="input-field" id="column_description" name="column_description" maxlength="256" rows="4" placeholder="Column description" required></textarea>
    </div>
    <div class="input-container">
        <img src="{% static 'static/assets/icons/paint.svg' %}" alt="Color Icon" class="input-icon">
        <input class="input-field" type="color" id="color" name="color" value="#808080">
    </div>
    <button type="submit" class="button submit-button" id="create">Create</button>
    <script>
        document.querySelector("#create").addEventListener("click", () => {
            triggerMicro("{% url 'core:new_column' board_id=board_id %}", ['column_title', 'column_description', 'color'], displayMessage, displayMessage);
            hideModal();
        });
    </script>
</div>