html {
    --white: #fff;
    --black: #000;
    --gray: #666;
    --dark-gray: #1a1a1a;
    --darker-gray: #121212;

    --square-red: rgba(218, 52, 52, 0.2);
    --square-pink: rgba(209, 61, 126, 0.2);;
    --square-orange: rgba(202, 123, 80, 0.2);
    --square-green: rgba(169, 250, 146, 0.2);
    --square-cyan: rgba(96, 234, 218, 0.2);

    --button-green: #388f64;
    --button-green-hover: #167e50;

    --deep-blue: #0f0f18;
}

a {
    color: #5ed399;
}

a:hover {
    color: #1ab565;
}

.logo a {
    color: var(--white);
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline;
}

/* Fonts */

@font-face {
    font-family: 'Bigshot One';
    src: url('../assets/fonts/BigshotOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter.ttf') format('truetype');
}


/* Filters */

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(333deg) brightness(106%) contrast(101%);
}

.filter-red {
    filter: invert(61%) sepia(77%) saturate(6129%) hue-rotate(334deg) brightness(124%) contrast(112%);
}

.filter-green {
    filter: invert(81%) sepia(64%) saturate(431%) hue-rotate(45deg) brightness(96%) contrast(90%);
}


/* Scrollbar chromium */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .95);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
}


/* Scrollbar firefox */

* {
    scrollbar-width: thin; /* This makes the scrollbar thinner */
    scrollbar-color: #7e7e7e rgba(0, 0, 0, .4); /* thumb color | track color */
}
