* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Inter, sans-serif;
    color: var(--white);
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-box {
    background-color: var(--dark-gray);
    padding: 40px;
    width: 500px;
    text-align: center;
    z-index: 1;
    position: relative;
    animation: zoomIn 0.3s ease-out;
}

.form {
    text-align: left;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.form-title {
    font-size: 50px;
    margin-bottom: 1.2em;
}

.form-box div {
    display: flex;
    justify-content: space-between;
}

.form-box div label {
    flex: 1;
    margin-right: 10px;
}

.form-box div label:last-child {
    margin-right: 0;
}

.form-footer {
    margin-top: 2em;
}

.form-footer a {
    color: #5ed399;
}

.form-footer a:hover {
    color: #1ab565;
}

h1.app-title {
    font-family: 'Bigshot One', cursive;
    color: #ff6f61;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    filter: invert(56%) sepia(0%) saturate(1175%) hue-rotate(136deg) brightness(89%) contrast(96%);
}

.form-box .name-surname-row .input-field#name {
    margin-right: 5px;
}

.form-box .name-surname-row .input-field#surname {
    margin-left: 5px;
}

.input-field {
    width: 100%;
    padding: 10px 10px 10px 45px;
    border: 1px solid #666;
    background-color: #333;
    color: var(--white);
    border-radius: 5px;
    font-size: 18px;
}

.submit-button {
    width: 100%;
    margin-top: 2em;
    padding: 15px;
    background-color: #388f64;
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.submit-button:hover {
    background-color: #167e50;
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

body#index, body#dashboard {
    display: block;
    height: 100vh;
    width: 100%;
}

header > .title {
    display: flex;
    justify-content: center;
    margin: 2em 0 8.8em;
}

header > .title > .logo {
    font-family: 'Bigshot One', cursive;
    font-style: italic;
    font-size: 100px;
}

header > .title > img {
    width: 75%;
}

.index {
    display: block;
    width: 100%;
}

.index > section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index .first-section :first-child {
    margin-right: 2em;
}

.index .second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
}

.index .second-section :first-child {
    margin-top: 0;
}

.index .mega-section {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
    padding: 5em 0;
}

.index .description-box {
    display: grid;
    border-radius: 1em;
    padding: 5em;
    /*
    margin: 3em;
    min-width: 50%;
     */
}

.index .mega-section .description-box:nth-child(1) {
    text-align: right;
}

.index .description-box li {
    margin-bottom: 1em;
}

.index .description-box li:last-child {
    margin-bottom: 0;
}

.index .description-box ul {
    padding-left: 1em;
}

.index .color-dark-grey {
    background-color: rgba(26, 26, 26, 0.5);
}

.index .description-box .title,
.index .mega-section h1 {
    font-size: 40px;
    margin-bottom: 1em;
}

.index .mega-section h1 {
    text-align: center;
}

.index .mega-section p {
    font-size: 25px;
}

.index .description-box .button {
    margin-top: 2em;
    color: #fff;
    border: 1px solid #fff;
    padding: 1em 2em;
    border-radius: 2em;
    cursor: pointer;
    font-size: 18px;
    width: fit-content;
    background-position: right center;
    background-image: linear-gradient(to right, #23a56f 0%, #0f3443 51%, #23a56f 100%);
    background-size: 200% auto;
    transition: 0.5s;
}

.index .description-box .button:hover {
    background-position: left center;
}

.violet-background {
    background: var(--deep-blue);
}

#surname-icon {
    left: 15px
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--deep-blue);
    color: #fff;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

footer ul li {
    margin: 0 1.5em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 5.5em;
}

nav .logo {
    font-family: 'Bigshot One', cursive;
    font-style: italic;
    font-size: 25px;
    margin: 0 2em 0 1em;
}

nav button {
    color: white;
    border: none;
    cursor: pointer;
    padding: .8em 2em;
    border-radius: 5px;
    font-size: 18px;
}

nav button.action {
    background-color: #388f64;
    margin-right: 1em;
}

nav button.action:hover {
    background-color: #167e50;
}

nav button.logout {
    background-color: #ff4d4d;
}

nav button.logout:hover {
    background-color: #ff3333;
}

nav .ghost-button {
    background-color: transparent;
    flex-grow: 1;
}

nav .ghost-button:hover {
    background-color: transparent;
    cursor: default;
}

nav button.blue {
    background-color: #4d8bff;
}

nav button.blue:hover {
    background-color: #315cb1;
}

.dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 5.5em);
    width: 100%;
}

.board-silhouette {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 350px;
    border: 1px solid grey;
    border-radius: 25px;
    background-color: var(--deep-blue);
    color: #fff;
    margin-left: 3em;
}

.board-silhouette:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.board-silhouette p {
    text-align: center;
}

.board-silhouette .cross {
    padding: 5em;
}

.board-silhouette.column-silhouette {
    background-color: var(--dark-gray);
    cursor: inherit;
}

.board-silhouette h2 {
    text-align: center;
}

.board-silhouette .board-image {
    width: 150px;
    height: 150px;
}

.column-silhouette {
    display: block;
    overflow: hidden;
    border-radius: 0;
}

.overflow-container {
    overflow: auto;
    height: 100%;
    padding-bottom: 3.5em;
}

.card-silhouette {
    display: block;
    height: 200px;
    width: 90%;
    border: 1px solid grey;
    border-radius: 15px;
    /*padding: .5em;*/
    margin: 1.5em auto;
    background-color: #2b2b2b;
}

/*
.card-silhouette:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
} */

/*
.column-silhouette:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}*/

.column-silhouette h2,
.card-silhouette h4 {
    padding: .5em;
}

.sticky-title {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    padding-right: .5em;
}

.sticky-title p {
    margin: auto 0;
    padding: .5em;
}

.non-sticky-title {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    background-color: #1e1e1e;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 38px;
}

.expired {
    padding: .5em;
}

.expired img {
    width: 20px;
    height: 20px;
}

.sticky-title:hover,
.non-sticky-title:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.burndown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.burndown img {
    width: 600px;
    height: 600px;
}

.burndown table {
    height: fit-content;
    margin-right: 100px;
}

th {
    background-color: #1e1e1e;
    color: #fff;
    padding: .8em;
}

th:first-child {
    background-color: transparent;
}

td {
    background-color: #2b2b2b;
    color: #fff;
    padding: .8em;
    text-align: left;
}

td:nth-child(2) {
    text-align: center;
}

tr {
    border-bottom: 1px solid #1e1e1e;
    text-align: left;
}

.justify-center {
    display: flex;
    justify-content: center;
}
